.flightlist {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(330px, 1fr));
    gap: 10px;
    background-color: #fcfcfc;
}

@media screen and (max-width: 1100px) {
    .flightlist {
        grid-template-columns: repeat(2, minmax(330px, 1fr));
    }
}
@media screen and (max-width: 700px) {
    .flightlist {
        grid-template-columns: repeat(1, minmax(330px, 1fr));
    }
}