.header {
    padding: 20px 0;
    background: #fff;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    height: 32px;
    margin-right: 24px;
}
.header__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 600px;
    width: 100%;
}
.header__link {
    text-decoration: none;
    color: #6B7280;
    transition: all 0.3s linear;
    position: relative;
}
.header__link:not(:last-child) {
    margin-right: 30px;
}
.header__link:hover {
    color: #1B9AF5;
}
.header__link::after {
    position: absolute;
    bottom: -7px;
    right: 0;
    left: 0;
    z-index: 1;
    display: block;
    content: '';
    width: 100%;
    margin-top: 8px;
    height: 2px;
    background: #1B9AF5;
    opacity: 0;
    transition: all 0.3s linear;
}
.header__link:hover::after {
    opacity: 1;
}
.header__link.active {
    color: #1B9AF5;
}
.header__link.active::after {
    opacity: 1;
}
.header__btn {
    background: #1B9AF5;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    transition: all 0.3s linear;
}
.header__btn:hover {
    background: #0E7AC1;
}
.header__btn-link {
    text-decoration: none;
    color: #fff;
}

.header__burgermenu {
    display: none;
    flex-direction: column;
    gap: 4px;
    width: 35px;
    height: 24px;
    cursor: pointer;
    z-index: 111;
    justify-content: space-between;
}

.header__burger-line {
    width: 100%;
    height: 3px;
    background-color: #1B9AF5;
    border-radius: 2px;
    z-index: 100;
}

@media screen and (max-width: 600px) {
    .header__logo {
        height: 45px;
    }
    .header__nav {
        justify-content: end;
    }
    .header__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        inset: 0;
        max-width: none;
        padding: 0 14px;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        z-index: 40;
        font-size: 18px;
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
    }
    .header__link {
        background-color: #fff;
        color: inherit;
        padding: 12px 0;
        width: 100%;
        text-align: center;
        border-radius: 8px;
        margin-bottom: 5px;
    }
    .header__link:not(:last-child) {
        margin-right: 0;
    }
    
    .header__link:hover:after {
        opacity: 0;
    }
    .header__links.header__links--open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }
    
    .header__links.header__links--close {
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
    } 
    .header__burgermenu {
        display: flex;
    }
    .header__burgermenu--active .header__burger-line:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
        transition: .3s;
        background-color: #fff;
    }

    .header__burgermenu--active .header__burger-line:nth-child(2) {
        opacity: 0;
        transform: rotate(45deg);
        transition: .3s;
    }

    .header__burgermenu--active .header__burger-line:nth-child(3) {
        transition: .3s;
        transform: translateY(-14px) rotate(-45deg);
        background-color: #fff;
    }

    .header__burgermenu--not-active .header__burger-line:nth-child(1) {
        transition: .3s;
    }

    .header__burgermenu--not-active .header__burger-line:nth-child(2) {
        opacity: 1;
        transition: 0.3s;
    }

    .header__burgermenu--not-active .header__burger-line:nth-child(3) {
        transition: 0.3s;
    }
    .header__btns {
        width: 100%;
    }
    .header__btn {
        width: 100%;
    }
}