.seatlist {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px;
    border-radius: 0 0 40px 40px;
    background: #f8f8f8;
    border: 5px solid #ccc;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.seatlist.airbus {
    width: 520px;
    margin: 0 auto;
}
.seatlist.boeing {
    width: 420px;
    margin: 0 auto;
}
.seatlist.bombardier,
.seatlist.embraer {
    width: 420px;
    margin: 0 auto;
}


.seatlist.business {
    padding: 200px 20px 20px;
    border-radius: 50% 50% 0 0;
    margin: 0 auto;
}
.seatlist.business.boeing {
    width: 420px;
}
.seatlist.business.airbus {
    width: 520px;
}
.seatlist.business.bombardier,
.seatlist.business.embraer {
    width: 420px;
}

.seatlist__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #6B7280;
}
.seatlist__seats {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.seatlist__seats__row {
    display: flex;
    margin-bottom: 8px;
}
  
.seatlist__seats__item {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #D1D5DB;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.seatlist.business .seatlist__seats__item {
    width: 50px;
    height: 50px;
    line-height: 40px;
    margin: 4px;
    font-size: 14px;
}
.seatlist__seats__item.available {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #D1D5DB;
}
.seatlist__seats__item.unavailable {
    background-color: #E5E7EB;
    border: 1px solid #D1D5DB;
    cursor: not-allowed;
}
.seatlist__seats__item.selected {
    background-color: #1B9AF5;
    border: 1px solid #1a8ddf;
    color: #fff;
}
.seatlist__seats__aisle {
    width: 40px;
}
.seatlist.business.boeing .seatlist__seats__aisle {
    width: 60px;
}

@media screen and (max-width: 650px) {
    .seatlist.business {
        padding: 160px 20px 20px;
    }

    .seatlist.airbus {
        width: 420px;
    }
    .seatlist.boeing {
        width: 320px;
    }
    .seatlist.bombardier,
    .seatlist.embraer {
        width: 250px;
    }


    .seatlist.business.boeing {
        width: 320px;
    }
    .seatlist.business.airbus {
        width: 420px;
    }
    .seatlist__seats__aisle {
        width: 20px;
    }
    .seatlist.business.bombardier,
    .seatlist.business.embraer {
        width: 250px;
    }


    .seatlist.business.boeing .seatlist__seats__aisle {
        width: 40px;
    }
    .seatlist__seats__item {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    .seatlist.business .seatlist__seats__item {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }
}
@media screen and (max-width: 450px) {
    .seatlist.airbus {
        width: 300px;
        padding: 10px;
    }
    .seatlist.boeing {
        width: 250px;
    }
    .seatlist.bombardier,
    .seatlist.embraer {
        width: 220px;
    }

    .seatlist.business.boeing {
        width: 250px;
    }
    .seatlist.business.airbus {
        width: 300px;
        padding-top: 100px;
    }
    .seatlist.business.bombardier,
    .seatlist.business.embraer {
        width: 220px;
    }

    .seatlist__seats__aisle {
        width: 10px;
    }
    .seatlist.business.boeing .seatlist__seats__aisle {
        width: 15px;
    }
    .seatlist__seats__item {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }
    .seatlist.business .seatlist__seats__item {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    .seatlist__seats__row {
        margin-bottom: 3px;
    }
}